<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/vue.js"></script>
    <!-- 引入样式 -->
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="css/style.css">
    <!-- 引入组件库 -->
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script src="js/elementUI.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>-->
    <script src="js/axios.js"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        #app {
            padding: 10px;
        }

        ul {
            list-style: none;
        }

        #app .table {
            width: 50%;
            float: left;
            padding-right: 5%;
        }

        .row {
            margin: 15px 0;
        }

        .option {
            width: 45%;
            float: left;
            margin-top: 20px;
            position: fixed;
            top: 0;
            right: 0;
        }

        .search {
            width: 100px;
            height: 50px;
            font-size: 20px;
            text-align: center;
        }

        .num {
            overflow: hidden;
        }

        .num li {
            float: left;
            width: 10%;
        }

        .top {
            display: flex;
            justify-content: space-between;
        }

        .litItem {
            width: 40px;
            height: 40px;
            float: left;
            line-height: 40px;
            text-align: center;
            border-collapse: collapse;
            box-sizing: border-box;
            border: 1px solid #333;
        }
    </style>
</head>
<body>
<div id="app">
    <!--<ul>-->
    <!--<li v-for="item in arr">-->
    <!--<span>时间{{item.openDateTime}}</span>-->
    <!--<span>期数{{item.issue}}</span>-->
    <!--<span>号码{{item.openNum}}</span>-->
    <!--</li>-->
    <!--</ul>-->
    <div class="table">
        <el-table
                border
                v-loading="loading"
                :data="arr"
                style="width: 100%">
            <el-table-column
                    prop="openDateTime"
                    label="时间"
                    align="center"
                    width="160">
            </el-table-column>
            <el-table-column
                    prop="issue"
                    label="期数"
                    align="center"
                    width="80">
            </el-table-column>
            <el-table-column
                    prop="openNum"
                    align="center"
                    label="号码">
                <ul slot-scope="scope" style="display: inline-block;">
                    <template v-for="(lit,index) in scope.row.outArr">
                        <li class="litItem" :style="{backgroundColor: showArr[scope.row.index]&&lit.show?'yellow':''}">
                            {{lit.key}}
                        </li>
                    </template>
                </ul>
            </el-table-column>
        </el-table>
    </div>
    <div class="option">
        <div class="top">
            <div>
                <span>项目</span>
                <el-select v-model="type" placeholder="请选择" clearable @change="changeType">
                    <el-option
                            v-for="item in typeLIst"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div>
                <span>日期</span>
                <el-date-picker
                        v-model="date"
                        type="date"
                        placeholder="选择日期"
                        :picker-options="pickerOptions1"
                        format="yyyy 年 MM 月 dd 日"
                        @change="changeDate"
                        value-format="yyyy-MM-dd">
                </el-date-picker>
            </div>
        </div>
        <div class="row">
            <ul class="num">
                <li v-for="(item,index) in value1">
                    <el-select v-model="item.key" placeholder="" clearable @change="selectNum1">
                        <el-option
                                v-for="item1 in arr1"
                                :key="item1"
                                :label="item1"
                                :value="item1">
                        </el-option>
                    </el-select>
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="num">
                <li v-for="(item,index) in value2">
                    <el-select v-model="item.key" placeholder="" clearable @change="selectNum2">
                        <el-option
                                v-for="item1 in arr2"
                                :key="item1"
                                :label="item1"
                                :value="item1">
                        </el-option>
                    </el-select>
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="num">
                <li v-for="(item,index) in value3">
                    <el-select v-model="item.key" placeholder="" clearable @change="selectNum3">
                        <el-option
                                v-for="item1 in arr3"
                                :key="item1"
                                :label="item1"
                                :value="item1">
                        </el-option>
                    </el-select>
                </li>
            </ul>
        </div>
        <div class="row">
            <p>最近出现间隔：<span>{{lastTime==99999?'无穷大':lastTime}}期</span></p>
        </div>
        <div class="row">
            <p>最远出现间隔：<span>{{farTime==0?'无穷大':farTime}}期</span></p>
        </div>
        <div class="row">
            <p>出现最小周期间隔：<span>{{minTime==99999?'无穷大':minTime}}期</span></p>
        </div>
        <div class="row">
            <p>出现最大周期间隔：<span>{{maxTime==0?'无穷大':maxTime}}期</span></p>
        </div>
        <div class="row">
            <button class="search" @click="reset">重置</button>
            <button class="search" @click="compareArr">精确查询</button>
            <button class="search" @click="fuzzyQuery">模糊查询</button>
        </div>
    </div>
</div>
<script>
	let dataArr;
	let vm = new Vue({
		el: '#app',
		data: {
			value: '',
			value1: [{key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}],
			value2: [{key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}],
			value3: [{key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}],
			arr1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
			arr2: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
			arr3: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
			arr: [],
			loading: false,
			date: '',
			type: '',
			typeLIst: [
				{label: '秒速飞艇', value: 'jsft'},
				{label: '秒速赛车', value: 'jspk10'},
				{label: '北京PK10', value: 'bjpk10'},
			],
			freshTime: '',
			pickerOptions1: {
				disabledDate(time) {
					return time.getTime() > Date.now();
				},
			},
			show1: [],
			show2: [],
			show3: [],
			note1: [],
			note2: [],
			note3: [],
			dis1: 1,
			dis2: 1,
			showArr: {},
			lastTime: 99999,
			farTime: 0,
			minTime: 99999,
			maxTime: 0,
		},
		created() {

		},
		methods: {
			changeColor1() {
				this.initArr();
				if (this.note1.length > 0) {
					this.note1.forEach((item) => {
						this.arr[item.index].outArr.forEach((item1) => {
							if (this.show1.includes(item1.key)) {
								item1.show = true;
							}
						});
						this.$set(this.showArr, [item.index], '1'); //这样就能被vue监控到，更新视图
						this.arr[item.index + this.dis1].outArr.forEach((item2) => {
							if (this.show2.includes(item2.key)) {
								item2.show = true;
							}
						});
						this.$set(this.showArr, [[item.index + this.dis1]], '1');
						this.arr[item.index + this.dis1 + this.dis2].outArr.forEach((item3) => {
							if (this.show3.includes(item3.key)) {
								item3.show = true;
							}
						});
						this.$set(this.showArr, [[item.index + this.dis2 + this.dis1]], '1');
					});
				}
			},
			changeColor2() {
				this.initArr();
				if (this.note1.length > 0) {
					this.note1.forEach((item) => {
						if (this.computeDis()[0] == undefined) {
							this.arr[item.index].outArr.forEach((item1) => {
								if (this.show2.includes(item1.key)) {
									item1.show = true;
								}
							});
							this.$set(this.showArr, [item.index], '1');
							this.arr[item.index + this.dis2].outArr.forEach((item2) => {
								if (this.show3.includes(item2.key)) {
									item2.show = true;
								}
							});
							this.$set(this.showArr, [item.index + this.dis1], '1');
						} else {
							this.arr[item.index].outArr.forEach((item1) => {
								if (this.show1.includes(item1.key)) {
									item1.show = true;
								}
							});
							this.$set(this.showArr, [item.index], '1');
							if (this.computeDis()[1] != -1) {
								this.arr[item.index + this.dis1].outArr.forEach((item2) => {
									if (this.show2.includes(item2.key)) {
										item2.show = true;
									}
								});
								this.$set(this.showArr, [item.index + this.dis1], '1');
							}
							if (this.computeDis()[2] != -1) {
								this.arr[item.index + this.dis1 + this.dis2].outArr.forEach((item3) => {
									if (this.show3.includes(item3.key)) {
										item3.show = true;
									}
								});
								this.$set(this.showArr, [item.index + this.dis1 + this.dis2], '1');
							}
						}
					});
				}
			},
			reset() {
				this.value1 = [{key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}];
				this.value2 = [{key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}];
				this.value3 = [{key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}, {key: ''}];
				this.minTime = 99999;
				this.maxTime = 0;
				this.arr1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
				this.arr2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
				this.arr3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
				this.note1 = [];
				this.note2 = [];
				this.note3 = [];
				this.arr = [];
				this.showArr = {};
			},
			getArr() {
				this.loading = true;
				axios({
					url: '/getData',
					params: {date: this.date, type: this.type},
					method: 'get',
				}).then((res) => {
					res = res.data;
					if (res.status == 1) {
						this.arr = res.data;
						this.arr = this.arr.map((item, index) => {
							item.index = index;
							item.outArr = this.addArr(item.openNum);
							return item;
						});
						dataArr = JSON.parse(JSON.stringify(this.arr));
						//把10转成t
						dataArr = dataArr.map((item) => {
							item.openNum.forEach((lit, index) => {
								if (lit == 10) {
									item.openNum[index] = 't';
								}
							});
							return item;
						});
					} else {
						this.$message.warning('查无数据！');
					}
					this.loading = false;
				}).catch((err) => {
					this.$message.error(err);
				});
			},
			changeType(value) {
				this.reset();
				if (value && this.date) {
					this.getArr();
				}
			},
			changeDate(value) {
				this.reset();
				if (value && this.type) {
					this.getArr();
				}
			},
			//模糊匹配
			fuzzyQuery() {
				if (this.type == '' || this.date == '') {
					this.$message.error(this.date == '' ? '请先选择时间' : '请先选择项目');
					return false;
				}
				this.farTime = 0;
				this.lastTime = 99999;
				this.minTime = 99999;
				this.maxTime = 0;
				this.note1 = [];
				this.note2 = [];
				this.note3 = [];
				let oArr1 = this.checkArr(this.value1);
				let oArr2 = this.checkArr(this.value2);
				let oArr3 = this.checkArr(this.value3);
				let txt1 = '';
				let txt2 = '';
				let txt3 = '';

				let haveNum = new RegExp(/.*\d|t.*/);
				let count = 0;
				if (!haveNum.test(oArr1.join('.'))) {
					count++;
				}
				if (!haveNum.test(oArr2.join('.'))) {
					count++;
				}
				if (!haveNum.test(oArr3.join('.'))) {
					count++;
				}

				if (count >= 2) {
					this.$message.error('模糊匹配请选择至少两个格式');
					return false;
				}
				let rre1 = this.judgeArr(this.value1);
				let rre2 = this.judgeArr(this.value2);
				let rre3 = this.judgeArr(this.value3);
				txt1 = '/' + rre1 + '/';
				txt2 = '/' + rre2 + '/';
				txt3 = '/' + rre3 + '/';


				let re1 = new RegExp(eval(txt1));
				let re2 = new RegExp(eval(txt2));
				let re3 = new RegExp(eval(txt3));
				let rowDis1 = this.computeDis()[1] - this.computeDis()[0];
				let rowDis2 = this.computeDis()[2] - this.computeDis()[0];
				let rowDis3 = this.computeDis()[2] - this.computeDis()[1];

				if (!this.computeDis().some(item => item == undefined)) {
					this.fuzzyCheck(dataArr, this.note1, re1, rre1[0], 's1');
					this.fuzzyCheck(dataArr, this.note2, re2, rre2[0], 's2');
					this.fuzzyCheck(dataArr, this.note3, re3, rre3[0], 's3');
					//都不为空
					let arr1 = [], arr2 = [];
					if (this.note1.length > 0) {
						this.note1.forEach((item) => {
							if (this.note2.includes(dataArr[item.index + this.dis1])) {
								if (dataArr[item.index + this.dis1].s2 - item.s1 == rowDis1) {
									arr1.push(item);
								}
								if (item.s1 == 9 && dataArr[item.index + this.dis1].s2 + 1 == rowDis1) {
									arr1.push(item);
								}
							}
						});
					}
					if (arr1.length > 0) {
						arr1.forEach((item) => {
							if (this.note3.includes(dataArr[item.index + this.dis2 + this.dis1])) {
								if (dataArr[item.index + this.dis2 + this.dis1].s3 - item.s1 == rowDis2) {
									arr2.push(item);
								}
								if (dataArr[item.index + this.dis1].s2 == 9 && dataArr[item.index + this.dis2 + this.dis1].s3 + 1 == rowDis3) {
									arr2.push(item);
								}
								if (item.s1 == 9 && dataArr[item.index + this.dis2].s3 + 2 == rowDis2) {
									arr2.push(item);
								}
							}
						});
					}
					this.note1 = arr2;
				} else {
					//第一行为空
					if (this.computeDis()[0] == undefined) {
						this.fuzzyCheck(dataArr, this.note1, re2, rre2[0], 's2');
						if (this.note1.length > 0) {
							let secondArr = [];
							this.note1.forEach((item) => {
								if (dataArr[item.index + this.dis2]) {
									secondArr.push(dataArr[item.index + this.dis2]);
								}
							});
							if (secondArr.length > 0) {
								this.fuzzyCheck(secondArr, this.note2, re3, rre3[0], 's3');
								//根据note2和note1的dis做匹配
								if (this.note2.length > 0) {
									this.note1 = this.note1.filter((item) => {
										if (secondArr.includes(dataArr[item.index + this.dis2]) && (dataArr[item.index + this.dis2].s3 - item.s2 == rowDis3)) {
											return item;
										}
										if (item.s2 == 9 && dataArr[item.index + this.dis2].s3 + 1 == rowDis3) {
											return item;
										}
									});
								}
							} else {
								this.note1 = [];
							}
						}
					}
					//第二行为空
					if (this.computeDis()[1] == undefined) {
						this.fuzzyCheck(dataArr, this.note1, re1, rre1[0], 's1');
						if (this.note1.length > 0) {
							this.note1.forEach((item) => {
								if (dataArr[item.index + this.dis1]) {
									this.note2.push(dataArr[item.index + this.dis1]);
								}
							});
							let secondArr = [];
							if (this.note2.length > 0) {
								this.fuzzyCheck(this.note2, secondArr, re2, rre2[0], 's2');
								//根据note2和note1的dis做匹配
								if (secondArr.length > 0) {
									secondArr.forEach((item) => {
										if (dataArr[item.index + this.dis2]) {
											this.note3.push(dataArr[item.index + this.dis2]);
										}
									});
									this.note1 = [];
									if (this.note3.length > 0) {
										let res = [], dis = this.dis1 + this.dis2;
										this.fuzzyCheck(this.note3, res, re3, rre3[0], 's3');
										//倒算回去获得索引
										res.forEach((item) => {
											if (item.s3 - dataArr[item.index - dis].s1 == rowDis2) {
												this.note1.push(dataArr[item.index - dis]);
											}
										});
									}
								}
							} else {
								this.note1 = [];
							}
						}
					}
					//第三行为空
					if (this.computeDis()[2] == undefined) {
						this.fuzzyCheck(dataArr, this.note1, re1, rre1[0], 's1');
						if (this.note1.length > 0) {
							let secondArr = [];
							this.note1.forEach((item) => {
								if (dataArr[item.index + this.dis1]) {
									secondArr.push(dataArr[item.index + this.dis1]);
								}
							});
							if (secondArr.length > 0) {
								this.fuzzyCheck(secondArr, this.note2, re2, rre2[0], 's2');
								//根据note2和note1的dis做匹配
								if (this.note2.length > 0) {
									this.note1 = this.note1.filter((item) => {
										if (this.note2.includes(dataArr[item.index + this.dis1]) && (dataArr[item.index + this.dis1].s2 - item.s1 == rowDis1)) {
											return item;
										}
										if (item.s1 == 9 && dataArr[item.index + this.dis1].s2 + 1 == rowDis1) {
											return item;
										}
									});
								}
							} else {
								this.note1 = [];
							}
						}
					}
				}
				console.log(this.note1);
				this.computedTime();
				this.changeColor2();
			},
			//精确匹配
			compareArr() {
				if (this.type == '' || this.date == '') {
					this.$message.error(this.date == '' ? '请先选择时间' : '请先选择项目');
					return false;
				}

				this.minTime = 99999;
				this.maxTime = 0;
				this.note1 = [];
				this.note2 = [];
				this.note3 = [];
				let oArr1 = this.checkArr(this.value1);
				let oArr2 = this.checkArr(this.value2);
				let oArr3 = this.checkArr(this.value3);
				let txt1 = '';
				let txt2 = '';
				let txt3 = '';

				let haveNum = new RegExp(/.*\d|t.*/);
				if (haveNum.test(oArr1.join('.')) || haveNum.test(oArr2.join('.')) || haveNum.test(oArr3.join('.'))) {
				} else {
					this.$message.error('请选择至少一个格式');
					return false;
				}

				txt1 = '/' + oArr1.join('.') + '/';
				txt2 = '/' + oArr2.join('.') + '/';
				txt3 = '/' + oArr3.join('.') + '/';
				let re1 = new RegExp(eval(txt1));
				let re2 = new RegExp(eval(txt2));
				let re3 = new RegExp(eval(txt3));
				//第一次比对
				this.loopCheck(dataArr, this.note1, re1);
				if (this.note1.length > 0) {
					//比对间隔默认为1
					this.note1.forEach((item) => {
						if (dataArr[item.index + this.dis1]) {
							this.note2.push(dataArr[item.index + this.dis1]);
						}
					});
					if (this.note2.length > 0) {
						let secondArr = [];
						this.loopCheck(this.note2, secondArr, re2);//第二次比对
						secondArr.forEach((item) => {
							if (dataArr[item.index + this.dis2]) {
								this.note3.push(dataArr[item.index + this.dis2]);
							}
						});
						this.note1 = [];
						if (this.note3.length > 0) {
							let res = [], dis = this.dis1 + this.dis2;
							this.loopCheck(this.note3, res, re3);//第三次比对
							//倒算回去获得索引
							res.forEach((item) => {
								this.note1.push(dataArr[item.index - dis]);
							});
						}
					} else {
						//退出
						this.note1 = [];
					}
				}
				console.table(this.note1);
				//计算周期
				this.computedTime();
				this.changeColor1();
			},
			selectNum1(value) {
				this.showArr = {};
				let arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
				this.arr1 = arr.filter((item) => {
					return !this.value1.some(item1 => item1.key == item);
				});
				let nArr = [];
				this.value1.forEach((item) => {
					if (item.key != '') {
						nArr.push(item.key);
					}
				});
				this.show1 = nArr;
			},
			selectNum2(value) {
				this.showArr = {};
				let arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
				this.arr2 = arr.filter((item) => {
					return !this.value2.some(item1 => item1.key == item);
				});
				let nArr = [];
				this.value2.forEach((item) => {
					if (item.key != '') {
						nArr.push(item.key);
					}
				});
				this.show2 = nArr;
			},
			selectNum3(value) {
				this.showArr = {};
				let arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
				this.arr3 = arr.filter((item) => {
					return !this.value3.some(item1 => item1.key == item);
				});
				let nArr = [];
				this.value3.forEach((item) => {
					if (item.key != '') {
						nArr.push(item.key);
					}
				});
				this.show3 = nArr;
			},
			checkArr(arr) {
				let oArr = [];
				arr.forEach((item, index) => {
					if (item.key != '') {
						oArr.push(item.key == 10 ? 't' : item.key);
					} else {
						oArr.push('.');
					}
				});
				return oArr;
			},
			checkArr1(arr) {
				let oArr = [];
				arr.forEach((item, index) => {
					if (item.key != '') {
						oArr.push(item.key == 10 ? 't' : item.key);
					} else {
						oArr.push('');
					}
				});
				return oArr;
			},
			loopCheck(arr1, arr2, re) {
				//循环比对 arr1是原数组，arr2是比对数组;
				arr1.forEach((item, index) => {
					if (re.test(item.openNum.join(','))) {
						arr2.push(item);
					}
				});
			},
			fuzzyCheck(arr1, arr2, re, sL = undefined, key) {
				//循环比对 arr1是原数组，arr2是比对数组;
				arr1.forEach((item, index) => {
					if (re.test(item.openNum.join(','))) {
						if (sL != '.' && sL) {
							item[key] = item.openNum.join('').indexOf(sL);
						} else {
							item[key] = 9999999;
						}
						arr2.push(item);
					}
				});
			},
			computedTime() {
				//计算周期
				if (this.note1.length > 0) {
					//计算周期
					if (this.note1.length == 1) {
						this.minTime = '只出现一';
						this.maxTime = '只出现一';
					} else {
						this.note1.forEach((item, index) => {
							if (this.note1[index + 1]) {
								let dis = Math.abs(parseFloat(item.index) - parseFloat(this.note1[index + 1].index));
								this.minTime = dis < this.minTime ? dis : this.minTime;
								this.maxTime = dis > this.maxTime ? dis : this.maxTime;
							}
						});
					}

					let l = this.note1[0].index;
					let f = this.note1[this.note1.length - 1].index;
					this.lastTime = this.lastTime > l ? l : this.lastTime;
					this.farTime = this.farTime < f ? f : this.farTime;
				} else {
					this.$message.error('查无改格式数据');
					this.minTime = 99999;
					this.lastTime = 99999;
					this.farTime = 0;
					this.maxTime = 0;
				}
			},
			judgeArr(arr) {
				let msg = this.checkArr1(arr).join('');
				let re = new RegExp(/(\d|t){2,}/g);
				if (re.test(msg)) {//多字符匹配
					let txt = this.checkArr(arr).join('.');
					let s = txt.indexOf(msg[0]), e = txt.indexOf(msg[msg.length - 1]);
					return txt.substring(s, e + 1);
				} else {
					//单字符匹配
					return msg == '' ? '.' : msg;
				}
			},
			computeDis() {
				let a, b, c, arr = [true, true, true];
				this.value1.forEach((item, index) => {
					if (item.key != '' && arr[0]) {
						a = index;
						arr[0] = false;
					}
				});
				this.value2.forEach((item, index) => {
					if (item.key != '' && arr[1]) {
						b = index;
						arr[1] = false;
					}
				});
				this.value3.forEach((item, index) => {
					if (item.key != '' && arr[2]) {
						c = index;
						arr[2] = false;
					}
				});
				return [a, b, c];
			},
			addArr(arr) {
				let newArr = [];
				arr.map((item) => {
					let obj = {show: false, key: item};
					newArr.push(obj);
				});
				return newArr;
			},
			initArr() {
				this.showArr = {};
				this.arr = this.arr.map((item) => {
					item.outArr = this.addArr(item.openNum);
					return item;
				});
			},
		},
	});
</script>
</body>
</html>