@keyframes rotateY {
	0%{
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@-webkit-keyframes rotateY {
	0%{
		-webkit-transform: rotateY(0deg);
	}
	100% {
		-webkit-transform: rotateY(360deg);
	}
}
body,
p {
	margin: 0;
}
body,
html {
	height: 100%;
	overflow: hidden;
	position: relative;
}
#pageBg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('../bg/bg.jpg') no-repeat;
	background-size: 100% 100%;
	opacity: 0;
}
#view {
	height: 100%;
	position: relative;
	overflow: hidden;
	-webkit-perspective: 300px;
	perspective: 300px;
}
.logoImg {
	position: absolute;
	left: 35%;
	top: 50%;
	margin-top: -15%;
	width: 30%;
} 
.logoImg img {
	width: 100%;
	display: block;
	-webkit-animation: 2s rotateY linear infinite;
	animation: 2s rotateY linear infinite;
}
.logoText {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	font-size: 16px;
	text-align: center;
}
#logo4,
#logoIcos {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#logoIcos {
	-webkit-animation: 2s rotateY linear infinite;
	animation: 2s rotateY linear infinite;
}
#logoIcos span {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;
	width: 30px;
	height: 30px;
	background: center center no-repeat;
	background-size: contain; 
}
#logo4Img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -35px 0 0 -98.5px;
	width: 197px;
	height: 70px;
}
#main,
#panoBg,
#tZ,
#cloud,
#pano,
.pano {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#panoBg span {
	position: absolute;
	left: 0;
	top: 0;
	margin: -585px 0 0 -64.5px;
	width: 129px;
	height: 1170px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#cloud span {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -50px 0 0 -100px;
	width: 200px;
	height: 100px;
}
.pano span{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 129px;
	margin-left: -64.5px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}