<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/vue.js"></script>
    <style>
        .active {
            color: blue;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div id="app">
    {{age}}
    <big-box @change-age="changeAge" class="wode" :msg="age" title="ddd" ref="testRef">
        <p slot="two">插槽2</p>
        <!--v-slot:two vue 2.6新写法-->
        <p slot="one">插槽1</p>
    </big-box>
    <button @click="changeModel">改变模板</button>
    <component :is="model"></component>
    <base-checkbox v-model="checked"></base-checkbox>
    <base-input v-model="content"></base-input>
    <!--将html元素原生事件绑定到组件上用.native修饰符，这个方法有局限性，组件的根元素必须支持该事件-->
    <lit-input @focus.native="onFocus"></lit-input>
    <br>
    <shit-input :label="content" @keyup="onFocus"></shit-input>
    <br>
    <button @click="triggerRef">testRef</button>
</div>
<script>
	//子组件改变父组件的值
	Vue.component('big-box', {
        props: ['msg', 'title'],
        template: `<div class="active"><h3>{{msg}}</h3><p>{{title}}</p><button @click="change">changeAge</button><slot name="one"></slot><slot name="two"></slot></div>`,
        methods: {
            change: function () {
                this.$emit('change-age', 3);
                console.log('changeAge');
            },
        },
    });
	Vue.component('lit-box', {
		props: ['msg'],
		template: `<div class="active"><h3>tom</h3></div>`,
		methods: {},
	});
	Vue.component('middle-box', {
		props: ['msg'],
		template: `<div class="active"><h3 @click="write">jack</h3></div>`,
		methods: {
			write: function () {
				console.log(this.$root.age++);//通过这个方式可以访问到全局组件的数据和方法,并且可以进行改动，还是双向绑定，但是不推荐这么使用，对于 demo 或非常小型的有少量组件的应用来说这是很方便的。不过这个模式扩展到中大型应用来说就不然了。因此在绝大多数情况下，我们强烈推荐使用 Vuex 来管理应用的状态。
				this.$root.changeAge();//通过这个方式可以访问到全局组件的方法
				console.log(this.$parent.age);//获取父级组件的
			},
		},
	});
	//父子组件的数据双向绑定model
	Vue.component('base-input', {
		model: {
			event: 'keyup',
		},
		props: ['content'],
		template: `<input type="text" :value="content" v-on:keyup="$emit('keyup',$event.target.value);" >`,//$event.target.value目标元素的值，拿来改变父级元素的值
	});
	Vue.component('base-checkbox', {
		model: {
			prop: 'checked',
			event: 'change',//这个属性必须的
		},
		props: {checked: Boolean},
		template: `<input type="checkbox" v-bind:checked="checked" v-on:change="$emit('change', $event.target.checked);" >`,
	});
	//将html元素原生事件绑定到组件上
	Vue.component('lit-input', {
		template: `<input type="text" placeholder="焦点事件" />`,
	});
	//将html元素原生事件绑定到组件上，如果根元素不是事件元素，用$listeners
	Vue.component('shit-input', {
		inheritAttrs: false,//这行必须要的
		props: ['label', 'msg'],
		computed: {
			inputListeners: function () {
				let vm = this;
				console.log(this);
				return Object.assign(
					{},
					this.$listeners,
					{
						input: function (ev) {
							console.log(ev);
							vm.$emit('input', ev.target.value);
						},
					},
				);
			},
		},
		template: `
		    <label>{{label}}
		        <input
		        v-bind="$attrs"
		        v-bind:value="msg"
		        @inputListeners
		        >
		    </label>
		`,
	});
	var vm = new Vue({
		el: '#app',
		data: {
			age: 222,
			model: 'lit-box',
			content: '头皮发麻',
			checked: true,
		},
		watch: {
			checked: function (val) {
				console.log(val);
			},
			content: function (val) {
				console.log(val);
			},
		},
		methods: {
			triggerRef() {				//父级调用子级组件，$refs 只会在组件渲染完成之后生效，并且它们不是响应式的。这仅作为一个用于直接操作子组件的“逃生舱”——你应该避免在模板或计算属性中访问 $refs。
				this.$refs.testRef.change();
			},
			changeAge: function (num = 1) {
				this.age += num;
				console.log(num);
			},
			changeModel: function () {
                this.model = 'middle-box';
            },
            changeChecked(data) {
                // console.log(data);
                // console.log(this.checked);
            },
            onFocus() {
                console.log(123);
            },
        },
    })
</script>
</body>
</html>
