<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(item,index) in arr" :key="item.name">{{item.name}}</li>
        <!--        v-for的优先级高于v-if两者不能一起使用，会出现多次判断 -->
        <li v-for="(value,key,index) in obj" :key="value">{{value}}+{{key}}+{{index}}</li>
    </ul>
</div>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            arr: [
                {name: 1},
                {name: 2},
                {name: 3},
            ],
            obj: {
                name: 'tom',
                age: 18
            }

        }
    })
</script>
</body>
</html>